__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.mo
*.pot
*.log
.DS_Store
.tox
.build
.vscode/
Pipfile
Pipfile.lock


